.carousell{
    width: 100vw;
    height: 40vw;
}
.imgg{
    width: 100vw;
    height: 40vw;
}

.carousellCompro{
    margin-left: 20vw;
    width: 60vw;
    height: 40vw;
}
.imggCrompo{
    width: 60vw;
    height: 40vw;
}